@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>Home</title>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <!-- Bootsrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>


    <script src="~/Scripts/homeActions.js"></script>

</head>
<body>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <h1>Search Twitter Account </h1>
    <form action="" method="POST" class="show">
        Twitter Username: <input id="txtUserName" name="txtUserName" type="text" value="" />
        <div class="btn-group" role="group" >
           
             @Html.dirButton("btnTopics", "Search Topics", "../Topics/Index", "btn btn-info")
             @Html.dirButton("btnInfluences", "Search Influences", "../Influence/Index", "btn btn-success")
        </div>
</form>

}
else
{
    <h1>Please Login</h1>
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
</body>
    
