@{
    ViewBag.Title = "Topics";
}

<head>

    <title>Topics</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <!-- Bootsrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   
    <!-- Latest compiled and minified JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    
    <!-- AngularJS-->
    <script src="~/Scripts/angular1.4.min.js"></script>
    
    <!--Angular Logic -->
    <script src="~/Scripts/getDataAPI.js"></script>


</head>
 <body>

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
        <h2 class="bg-primary">Topics</h2>

        <div ng-app="myApp" ng-controller="topicsCtrl" ng-view class="table-responsive">

            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        @* Filter model *@

                        <table>
                            <tr>
                                <td><input type="text" class="form-control" placeholder="Filter topic" ng-model="searchTopic"></td>
                                <td>@Html.ActionLink("Home", "Index", "Home", routeValues: null, htmlAttributes: new { id = "HomeLink", @class = "btn btn-info" })</td>
                            </tr>
                        </table>

                    </div>
                </div>
            </form>

            <hr />

            <br />

            @* With the repeater create table with the API data *@
            <table class="table table-hover">
                <tr class="success">
                    <td>Topic</td>
                    <td>Image</td>
                </tr>
                <tr ng-repeat="t in topics | filter : searchTopic">
                    <td>{{t.displayName}}</td>
                    <td><img src="{{t.imageUrl}}" width="50" height="50" alt="TopicImage" class="img-rounded" /></td>
                </tr>
            </table>

        </div>

}
else
{
    <h1>Please Login</h1>
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}

</body>
